* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1612676239016-41e2c92b8e06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
}

form {
    background-color: white;
    padding: 0 60px;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    text-align: center;
    color: #373C3F;
    margin-top: 15px;
}

button {
    color: white;
    background-color: #373C3F;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: 3rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}